<h1>index Today's weather in {{name}}</h1>
<ul>
    {{#each data}}
    {{#if this}}
        <li>{{@key}} : {{this}}</li>
        {{/if}} 
    {{/each}}
</ul>
<br>
<p><a class="btn-style" href="/weather">What's the weather?</a></p>
<br>
<p>Sunrise - {{sunrise}} </p><p>Sunset - {{sunset}}</p>